body {
    background-color: #03080f;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Poppins, sans-serif;
    margin-left: 10vw;
    color: white;
    font-weight: 400;
    line-height: 2em;
}

a {
    color: white;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    color: #17BEBB;
    margin-bottom: 1em;
    font-weight: 300;
    line-height: 1.25em;
} 

p {
    margin-bottom: 1em;
}

.link:hover {
    color: #03080f;
    background-color: white;
}

.email {
    color: grey;
    margin-left: 10px;
}

i {
    color: #17BEBB;
    margin-right: 1em;
    font-size: 1.5em;
}

i:hover {
    color: white;
    transition: 0.5s;
}

a:hover {
    transition: 1s;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.important {
    font-weight: 700;
}

.socials {
    display: flex;
    color: grey;
}